* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

button,
input,
select,
textarea {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
